docling
docling-core
langchain
langchain-classic
langchain-milvus
langchain-huggingface
langchain-openai
langchain-community
openai
pymilvus
sentence-transformers
rank_bm25
networkx
pillow
python-dotenv
torch
streamlit
pytesseract
fastapi
uvicorn[standard]
python-multipart
